<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <title>SystemLiar</title>
</head>
<body>
<h2>버전 정보 관리</h2>
<div>
  <span>{{appVersion}}</span>
</div>
<form method="POST" action="/Application/Input/Version">
  <label class="" for="applicationVersion">제목</label>
  <input type="text" id="applicationVersion" name="version" required/>
  <button type="submit">버전 등록</button>
</form>
<h2>공지사항</h2>
<div class="input_panel_notice">
  <form method="POST" action="/Notice/Manager/Add/Notice">
    <label class="" for="inputNoticeTitle">제목</label>
    <input type="text" id="inputNoticeTitle" name="title" required/>
    <label class="" for="isShow">노출</label>
    <input type="checkbox" id="isShow" name="isShow" {{#if isShow}}checked{{/if}}/>
    <label class="" for="inputNoticeContents">내용</label>
    <textarea id="inputNoticeContents" name="contents" required></textarea>
    <button type="submit">공지사항 등록</button>
  </form>
</div>
<div class="history_notice">
  <ul>
    {{#documents}}
      <li id="{{id}}">
        <form method="POST" action="/Notice/Manager/Put/Notice">
          <input type="hidden" name="id" value="{{id}}" title="ID"/>
          <label class="" for="isShow" style="display:none;">노출</label>
          <input type="checkbox" id="isShow" name="isShow" {{#if isShow}}checked{{/if}}/>
          <input type="text" value="{{title}}" name="title" title="제목"/>
          <div>
          <textarea title="본문" name="contents">{{contents}}</textarea>
          </div>
          <button type="submit">공지사항 수정</button>
        </form>
      </li>
    {{/documents}}
  </ul>
</div>
</body>
</html>
