<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>SystemLiar</title>
</head>
<body>
<h1>제시어 관리</h1>
<strong>주제 추가</strong>
<form method="POST" action="/Suggest/Manager/Add/Subject">
  <label for="subject">주제</label>
  <input type="text" id="subject" name="subject"/>
  <button type="submit">추가</button>
</form>
<strong>제시어 추가</strong>
// 선택을 좀 편하게 하도록 셀렉트 옵션 대신 바로 직빵으로 하게끔~
<form method="POST" action="/Suggest/Manager/Add/Suggest">
  <label for="subject">주제</label>
  <select id="subject" name="subject">
    {{#documents}}
    <option>{{subject}}</option>
    {{/documents}}
  </select>
  <label for="suggest">제시어</label>
  <input type="text" id="suggest" name="suggest"/>
  <button type="submit">추가</button>
</form>
<h2>제시어 목록</h2>
{{#documents}}
  <strong>{{subject}}</strong>
  <ul>
  {{#suggests}}
  <li>
    <form method="post" action="/Suggest/Manager/Remove/Suggest">
      <input type="hidden" name="subject" value="{{../subject}}"/>
      <input type="hidden" name="suggest" value="{{this}}"/>
      {{this}} <button type="submit">삭제</button>
    </form>
  </li>
  {{/suggests}}
  </ul>
{{/documents}}
</body>
</html>
